body {
    /*margin: 10px auto;
    width: 90%;*/
    font-size: .8em;
    margin: 0;
    width: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    width:100%;
    padding: 0;
    overflow: hidden;
    background-color: #3B7EA1;
}

#navbar > li {
    float: left;
}

#navbar > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar > li > a:hover {
    background-color: #C4820E;
    color:black;
}

/* Boxes for index */

.full-list-box{
    width:90%;
    height:100%;
    padding: 5px;
    margin: 0;
}

.main-box{
    overflow:auto;
    width: 90%;
    height: 200px;
    padding: 5px;
    margin: 10px;
}

.floating-box{
    display: inline-block;
    overflow:auto;
    width: 40%;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

/* Posts */
p.meta{
    border-bottom: 1px solid #d5d5d5;
    font-size: 0.8em;
    padding-bottom: 5px;
    margin: 10px;
}

div.post{
    margin: 10px;
}

h1.title{
    margin: 10px;
}

/* Footer style */

footer {
    color: #999;
    margin: 10px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #999;
}
    

/*
nav ul, 
nav ul li, 

}
a:hover {
    text-decoration: underline;
}

.post_list{
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/