<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css"
			      href="/labNotebook/css/main.css">
		</head>
		<body>
		      <ul id="navbar">
			<li><a href="/labNotebook/index.html">Home</a></li>
			<li><a href="/labNotebook/entries.html">Entries</a></li>
			<li><a href="/labNotebook/meetings.html">Meetings</a></li>
			<li><a href="/labNotebook/papers.html">Papers</a></li>
			<li><a href="">Resume</a></li>
		      </ul>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="jsrehak@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/jsrehak">github.com/jsrehak</a></li>
				</ul>
			</footer>
		</body>
	</html>
